@model IEnumerable<StoreAny.Models.CustomerModel>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron" style="background-color:aquamarine">
    <h2>BPOS Patanjali</h2>

    <p>
        @Html.ActionLink("Create Customer/Supplier", "Add", "Customer")   |
        @Html.ActionLink("Create Inter_Company_Party", "Add", "Inter_Company_PArty")   |
        @Html.ActionLink("Create ItemList", "Add", "ItemList")   |
        @Html.ActionLink("Create Transport", "Add", "Transport") |
        @Html.ActionLink("Transaction","Add","Transaction")

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAPCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSTNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SAPCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GSTNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @*|*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>
</div>

